USE [vnfkdwfv_PlaceBooking]
GO
/****** Object:  Table [dbo].[BillOrders]    Script Date: 10/12/2023 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillOrders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](500) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[PaymentType] [int] NULL,
	[PaymentStatus] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[ServiceID] [int] NULL,
	[Status] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BillOrders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[UserId] [int] NULL,
	[CreateDate] [smalldatetime] NULL,
	[Comment1] [nvarchar](1000) NULL,
	[ParentID] [int] NULL,
	[Status] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Type] [int] NULL,
	[TopicID] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtendsBooking]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtendsBooking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Details] [ntext] NULL,
	[RoomId] [int] NULL,
	[Type] [int] NULL,
	[Status] [int] NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [smalldatetime] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_ExtendsBooking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Tableid] [int] NULL,
	[Parentid] [int] NOT NULL,
	[Orders] [int] NOT NULL,
	[Position] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GuestTotal] [int] NOT NULL,
	[Code] [nvarchar](500) NULL,
	[Name] [nvarchar](500) NULL,
	[Gioitinh] [nvarchar](500) NULL,
	[Quoctich] [nvarchar](500) NULL,
	[Mess] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[DeliveryPaymentMethod] [nvarchar](500) NULL,
	[StatusPayment] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[NameRoom] [nvarchar](500) NULL,
	[ServiceId] [nvarchar](100) NULL,
	[MenuId] [nvarchar](100) NULL,
	[DepartureDate] [smalldatetime] NULL,
	[Scope] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordersdetail]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordersdetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NOT NULL,
	[TicketId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ordersdetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Topid] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[Slug] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Img] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[AccessName] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[GropID] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[PlaceDetail] [nvarchar](500) NULL,
	[RoomType] [nvarchar](500) NULL,
	[Img] [nvarchar](500) NULL,
	[DepartureAddress] [nvarchar](500) NULL,
	[FullAddress] [nvarchar](500) NULL,
	[GuestTotal] [int] NULL,
	[Price] [float] NOT NULL,
	[PriceSale] [float] NOT NULL,
	[Promote] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsBooking] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Slug] [nvarchar](500) NULL,
	[Parentid] [int] NOT NULL,
	[Orders] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/12/2023 9:36:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](600) NULL,
	[Username] [varchar](50) NULL,
	[Password] [nvarchar](500) NULL,
	[Email] [nvarchar](600) NULL,
	[Gender] [nvarchar](600) NULL,
	[Address] [nvarchar](600) NULL,
	[Phone] [nvarchar](600) NULL,
	[Img] [nvarchar](600) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[OTP] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.user] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillOrders] ON 

INSERT [dbo].[BillOrders] ([ID], [OrderCode], [Total], [CreateDate], [PaymentType], [PaymentStatus], [Name], [ServiceID], [Status], [UserId]) VALUES (44, N'DH17117', CAST(4150000.00 AS Decimal(18, 2)), CAST(N'2023-10-10T17:01:17.993' AS DateTime), 3, 2, N'Hóa đơn cho hợp đồng DH17117', NULL, 1, 22)
SET IDENTITY_INSERT [dbo].[BillOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([ID], [UserName], [UserId], [CreateDate], [Comment1], [ParentID], [Status], [Image], [Type], [TopicID]) VALUES (13, N'khachhang1', 3, CAST(N'2023-09-23T00:52:00' AS SmallDateTime), N'Nhà hàng đẹp, món ăn tuyệt vời và dịch vụ tốt nói chung 5 saoNhà hàng đẹp, món ăn tuyệt vời và dịch vụ tốt nói chung 5 saoNhà hàng đẹp, món ăn tuyệt vời và dịch vụ tốt nói chung 5 sao', 0, 1, N'https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png', 2, 1)
INSERT [dbo].[Comment] ([ID], [UserName], [UserId], [CreateDate], [Comment1], [ParentID], [Status], [Image], [Type], [TopicID]) VALUES (14, N'khachhang1', 3, CAST(N'2023-10-01T10:27:00' AS SmallDateTime), N'Nhà hàng đẹp, món ăn tuyệt vời và dịch vụ tốt nói chung rất tuNhà hàng đẹp, món ăn tuyệt vời và dịch vụ tốt nói chung 5 sao', 0, 1, N'https://www.translitescaffolding.com/wp-content/uploads/2013/06/user-avatar.png', 2, 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[ExtendsBooking] ON 

INSERT [dbo].[ExtendsBooking] ([ID], [Name], [Details], [RoomId], [Type], [Status], [CreateBy], [CreateDate], [Price]) VALUES (3, N'THỰC ĐƠN 2:   3.143.000 VNĐ', N'1. Khai Vị 3 Món :
– Gỏi Củ Hủ Dừa Tôm Thịt
– Chả Giò Hải Sản
– Mực Sữa Chiên Nước Mắm
2. Cá  Phile Sốt Cam Úc
3. Sườn Nấu Pate Pháp – Bánh Mì
4. Lẩu Gà Tiềm Ớt Hiểm – Mì Sợi
5. Trái Cây Thơm, Dưa Hấu
', 1, 1, 1, 1, CAST(N'2023-09-21T23:11:00' AS SmallDateTime), 143000)
INSERT [dbo].[ExtendsBooking] ([ID], [Name], [Details], [RoomId], [Type], [Status], [CreateBy], [CreateDate], [Price]) VALUES (5, N'Dịch vụ đi kèm trọn gói', N'<p>1. Thợ chụp ảnh</p><p>2. Phục vụ châm nước liên tục</p><p>3. nước ngọt bia không giới hạng</p>', 1, 2, 1, 1, CAST(N'2023-09-21T23:10:00' AS SmallDateTime), 500000)
SET IDENTITY_INSERT [dbo].[ExtendsBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (1, N'Trang Chủ', N'menu', N'', 2, 0, 1, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2019-12-05T13:03:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (4, N'Top 25 địa điểm tổ chức sự kiện tại TPHCM', N'menu', N'tin-tuc/top-25-dia-diem-to-chuc-su-kien-tai-tphcm', 2, 0, 2, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [Tableid], [Parentid], [Orders], [Position], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (5, N'Liên Hệ', N'menu', N'lien-he', 2, 0, 3, N'mainmenu', CAST(N'2019-03-15T00:00:00.000' AS DateTime), 1, CAST(N'2020-05-06T23:02:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [GuestTotal], [Code], [Name], [Gioitinh], [Quoctich], [Mess], [Phone], [Email], [DeliveryPaymentMethod], [StatusPayment], [Total], [CreateDate], [Status], [UserId], [RoomId], [NameRoom], [ServiceId], [MenuId], [DepartureDate], [Scope]) VALUES (69, 0, N'DH17117', N'Nguyen van a', N'female', N'VN', N'ads', N'0377377794', N'vanhungdev@gmail.com', N'Thanh toán chuyển khoản', 3, 4150000, CAST(N'2023-10-10T17:01:18.053' AS DateTime), 2, 22, 1, N'Trung tâm hội nghị Capellapark View', N'5,7', N'', CAST(N'2023-10-26T00:00:00' AS SmallDateTime), N'Trưa (13:00 đến 18:00)')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordersdetail] ON 

INSERT [dbo].[Ordersdetail] ([ID], [Orderid], [TicketId]) VALUES (124, 69, 1)
SET IDENTITY_INSERT [dbo].[Ordersdetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [ParentId], [AccessName], [Description], [GropID]) VALUES (1, 0, N'ADMIN', N'Quản trị viên Full quyền', N'ADMIN')
INSERT [dbo].[Role] ([ID], [ParentId], [AccessName], [Description], [GropID]) VALUES (2, 1, N'CUSTOMER', N'Khách hàng', N'CUSTOMER')
INSERT [dbo].[Role] ([ID], [ParentId], [AccessName], [Description], [GropID]) VALUES (3, 2, N'ACCOUNTANT', N'Kế toán, thống kê', N'ACCOUNTANT')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [Name], [Description], [PlaceDetail], [RoomType], [Img], [DepartureAddress], [FullAddress], [GuestTotal], [Price], [PriceSale], [Promote], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status], [IsBooking]) VALUES (2, N'Khách sạn Caravelle', N'TP.Hồ Chí Minh (SGN)', N'Tầng 1', N'SinhNhat', N'25phong-vip-3.jpg', N'TP.Hồ Chí Minh ', N'19 – 23 Công trường Lam Sơn, Phường Bến Nghé, Quận 1, TP.HCM', 110, 8500000, 8500000, NULL, CAST(N'2023-04-12T00:00:00.000' AS DateTime), 1, CAST(N'2023-09-01T20:02:14.727' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([ID], [Name], [Slug], [Parentid], [Orders], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (20, N'Review trung tâm', N'review-trung-tam', 0, 1, CAST(N'2023-09-01T19:26:07.373' AS DateTime), 0, CAST(N'2023-09-01T19:26:07.373' AS DateTime), 1, 1)
INSERT [dbo].[Topic] ([ID], [Name], [Slug], [Parentid], [Orders], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (21, N'Liên Hệ', N'lien-he', 0, 1, CAST(N'2023-09-02T20:48:22.187' AS DateTime), 0, CAST(N'2023-09-02T20:48:22.187' AS DateTime), 1, 1)
INSERT [dbo].[Topic] ([ID], [Name], [Slug], [Parentid], [Orders], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Status]) VALUES (22, N'Nguyễn Văn Hưng', N'nguyen-van-hung', 0, 0, CAST(N'2023-04-16T22:44:00.000' AS DateTime), 1, CAST(N'2023-04-16T22:44:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Username], [Password], [Email], [Gender], [Address], [Phone], [Img], [Access], [Status], [OTP]) VALUES (1, N'Nguyen Công', N'admin', N'4QrcOUm6Wau+VuBX8g+IPg==', N'abc@gmail.com', N'nam', N'cád-mniad', N'0978568452', N'abc.png', 0, 1, N'1')
INSERT [dbo].[User] ([ID], [Fullname], [Username], [Password], [Email], [Gender], [Address], [Phone], [Img], [Access], [Status], [OTP]) VALUES (3, N'nguyen công 1', N'khachhang1', N'4QrcOUm6Wau+VuBX8g+IPg==', N'vanhungdev@gmail.com', N'nam', N'cat-minhad', N'0377377794', NULL, 1, 1, NULL)
INSERT [dbo].[User] ([ID], [Fullname], [Username], [Password], [Email], [Gender], [Address], [Phone], [Img], [Access], [Status], [OTP]) VALUES (4, N'nguyen Cong', N'khachhang2', N'4QrcOUm6Wau+VuBX8g+IPg==', N'vanhungdev@gmail.com', N'nam', N'cat-minh', N'0377377794', N'defalt.png', 1, 1, N'1')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
