@model IEnumerable<PlaceBooking.Models.Post>
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}

<section class="mt_search" style="margin-top:50px !important; ">
    <div class="container card bg-white" style="padding:30px !important; ">
        <div class="search-content-slider">
            <div class="section-title text-center ">
                <h2>TÌM KIẾM ĐỊA ĐIỂM CỦA BẠN</h2>
                <p>Yatra.com - Hệ thống đặt địa điểm lớn nhất Việt Nam.</p>
            </div>
            <form action="~/Site/roomSearch" method="POST" id="form-search">
                <div class="radio" align="center">
                    <label><input value="1" type="radio" id="typeticket" name="noithat" checked>Tiệc cưới</label>
                    <label><input value="0" type="radio" id="typeticket" name="noithat">Sinh nhật</label>
                    <label><input value="2" type="radio" id="typeticket" name="noithat">Sự kiện</label>
                    <label><input value="3" type="radio" id="typeticket" name="noithat">Khác</label>
                </div>
                <input type="hidden" id="ticketCheck" value="" />

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="departure_address" class=" form-control" tabindex="1" required>
                                    <option value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>
                                    <option value="Hà Nội">Hà Nội</option>
                                    <option value="Quy Nhơn">Quy Nhơn</option>
                                    <option value="An Giang">An Giang</option>
                                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                    <option value="Bạc Liêu">Bạc Liêu</option>
                                    <option value="Bắc Giang">Bắc Giang</option>
                                    <option value="Bắc Kạn">Bắc Kạn</option>
                                    <option value="Bắc Ninh">Bắc Ninh</option>
                                    <option value="Bến Tre">Bến Tre</option>
                                    <option value="Bình Định">Bình Định</option>
                                    <option value="Bình Dương">Bình Dương</option>
                                    <option value="Bình Phước">Bình Phước</option>
                                    <option value="Bình Thuận">Bình Thuận</option>
                                    <option value="Cà Mau">Cà Mau</option>
                                    <option value="Cần Thơ">Cần Thơ</option>
                                    <option value="Cao Bằng">Cao Bằng</option>
                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                    <option value="Đắk Lắk">Đắk Lắk</option>
                                    <option value="Đắk Nông">Đắk Nông</option>
                                    <option value="Điện Biên">Điện Biên</option>
                                    <option value="Đồng Nai">Đồng Nai</option>
                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                    <option value="Gia Lai">Gia Lai</option>
                                    <option value="Hà Giang">Hà Giang</option>
                                    <option value="Hà Nam">Hà Nam</option>
                                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                                    <option value="Hải Dương">Hải Dương</option>
                                    <option value="Hải Phòng">Hải Phòng</option>
                                    <option value="Hậu Giang">Hậu Giang</option>
                                    <option value="Hòa Bình">Hòa Bình</option>
                                    <option value="Hưng Yên">Hưng Yên</option>
                                    <option value="Khánh Hòa">Khánh Hòa</option>
                                    <option value="Kiên Giang">Kiên Giang</option>
                                    <option value="Kon Tum">Kon Tum</option>
                                    <option value="Lai Châu">Lai Châu</option>
                                    <option value="Lâm Đồng">Lâm Đồng</option>
                                    <option value="Lạng Sơn">Lạng Sơn</option>
                                    <option value="Lào Cai">Lào Cai</option>
                                    <option value="Long An">Long An</option>
                                    <option value="Nam Định">Nam Định</option>
                                    <option value="Nghệ An">Nghệ An</option>
                                    <option value="Ninh Bình">Ninh Bình</option>
                                    <option value="Ninh Thuận">Ninh Thuận</option>
                                    <option value="Phú Thọ">Phú Thọ</option>
                                    <option value="Phú Yên">Phú Yên</option>
                                    <option value="Quảng Bình">Quảng Bình</option>
                                    <option value="Quảng Nam">Quảng Nam</option>
                                    <option value="Quảng Ngãi">Quảng Ngãi</option>
                                    <option value="Quảng Ninh">Quảng Ninh</option>
                                    <option value="Quảng Trị">Quảng Trị</option>
                                    <option value="Sóc Trăng">Sóc Trăng</option>
                                    <option value="Sơn La">Sơn La</option>
                                    <option value="Tây Ninh">Tây Ninh</option>
                                    <option value="Thái Bình">Thái Bình</option>
                                    <option value="Thái Nguyên">Thái Nguyên</option>
                                    <option value="Thanh Hóa">Thanh Hóa</option>
                                    <option value="Thừa Thiên-Huế">Thừa Thiên-Huế</option>
                                    <option value="Tiền Giang">Tiền Giang</option>
                                    <option value="Trà Vinh">Trà Vinh</option>
                                    <option value="Tuyên Quang">Tuyên Quang</option>
                                    <option value="Vĩnh Long">Vĩnh Long</option>
                                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                    <option value="Yên Bái">Yên Bái</option>
                                </select>
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="songuoi" class=" form-control" tabindex="1">
                                    <option value="2">Số người (Mặc định 100)</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="400">400</option>
                                    <option value="500">500</option>
                                    <option value="600">600</option>
                                    <option value="800">800</option>
                                    <option value="1000">1000</option>
                                    <option value="1100">Trên 1000</option>
                                </select>
                                <i class="flaticon-box"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="soTienTu" class=" form-control" tabindex="1">
                                    <option value="1000000">Số tiền từ 1.000.000 VND</option>
                                    <option value="2000000">Số tiền từ 20.000.000 VND</option>
                                    <option value="3000000">Số tiền từ 30.000.000 VND</option>
                                    <option value="4000000">Số tiền từ 40.000.000 VND</option>
                                    <option value="5000000">Số tiền từ 50.000.000 VND</option>
                                    <option value="6000000">Số tiền từ 60.000.000 VND</option>
                                    <option value="7000000">Số tiền từ 70.000.000 VND</option>
                                    <option value="8000000">Số tiền từ 80.000.000 VND</option>
                                    <option value="9000000">Số tiền từ 90.000.000 VND</option>
                                    <option value="10000000">Số tiền từ 100.000.000 VND</option>
                                </select>
                                <i class="flaticon-box"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="soTienDen" class=" form-control" tabindex="1">
                                    <option value="2000000">Số tiền đến 20.000.000 VND</option>
                                    <option value="3000000">Số tiền đến 30.000.000 VND</option>
                                    <option value="4000000">Số tiền đến 40.000.000 VND</option>
                                    <option value="5000000">Số tiền đến 50.000.000 VND</option>
                                    <option value="6000000">Số tiền đến 60.000.000 VND</option>
                                    <option value="7000000">Số tiền đến 70.000.000 VND</option>
                                    <option value="8000000">Số tiền đến 80.000.000 VND</option>
                                    <option value="9000000">Số tiền đến 90.000.000 VND</option>
                                    <option value="10000000">Số tiền đến 100.000.000 VND</option>
                                </select>
                                <i class="flaticon-box"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  ">
                        <div class="table_item " align="center">
                            <div class="search ">
                                <button type="submit" class="btn-blue btn-red ">TIM KIẾM ĐỊA ĐIỂM SỰ KIỆN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Top Destinations -->
<section class="top-destination">
    <div class="container">
        <div class="section-title text-center">
            <h2>Các bài viết nổi bật</h2>
            <a href="#">Xem tất cả các review nổi bật <i class="fa fa-long-arrow-right"></i></a>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="destination-item box-item">
                        <div class="destination-image">
                            <img src="~/public/images/post/@item.Img" alt="Image">
                        </div>
                        <div class="destination-content">
                            <h6>VÉ MỘT CHIỀU</h6>
                            <h3><a href="~/chi-tiet-bai-viet/@item.Slug">@item.Title</a></h3>
                            <p class="package-days1"><i class="flaticon-time"></i>Ngày tạo: @item.CreatedAt.ToString("dd-MM-yyyy")</p>
                            <div class="deal-rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <div class="tour-price">
                                <a href="~/chi-tiet-bai-viet/@item.Slug"><span class="tour-tail">Xem Ngay</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    $("#form-search").submit(function (event) {
        $("#ngaybay").text("");
        $("#ngayve").text("");
        var ngaybay = $("#departure_date").val();
        var ngayve = $("#arrival_date").val();
        var typeticket = $("#ticketCheck").val();
        if (ngaybay == "Chọn ngày") {
            $("#ngaybay").text("Vui lòng chọn ngày khởi hành");
            return false;
        }
        if (typeticket == 2) {
            if (ngayve == "Ngày về") {
                $("#ngayve").text("Vui lòng chọn ngày về");
                return false
            }
            else {
                return true;
            }
        }
        return true;
    });
    $(document).ready(function () {
        // By Default Disable radio button
        $("#arrival_date").attr('disabled', true);
        $("form input:radio").change(function () {
            if ($(this).val() == "enable") {
                $("#arrival_date").attr('disabled', false);
                $("#ticketCheck").val(2);
            }
            else {
                $("#arrival_date").attr('disabled', true);
                $("#ticketCheck").val(1);
            }
        });
    });
</script>

<script src="~/public/js/main.js"></script>
