@model IEnumerable<PlaceBooking.Models.Room>
@{ var sum = 0;}
@foreach (var item in Model)
{
    
    <table style="margin-top:20px;">
        <tbody>
            <tr>
                <td class="title">Tổng tiền</td>
                <td class="b-id text-danger">@item.price.ToString("N0") VND</td>
            </tr>
            <tr>
                <td class="title">Thời gian xuất bến</td>
                <td>@item.departure_date</td>
            </tr>
            <tr>
                <td class="title">Nơi bay</td>
                <td>@item.departure_address</td>
            </tr>
            <tr>
                <td class="title">Nơi đến</td>
                <td>@item.arrival_address</td>
            </tr>
        </tbody>
    </table>
    sum += (int)item.price;
}
