
<!-- Footer -->
<footer>
    <div class="footer-upper">
        <div class="container">
            <div class="footer-links">

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="copyright-content">
                        <p>2020 <i class="fa fa-copyright" aria-hidden="true"></i> Thiết kế bởi <a href="https://www.cyclonethemes.com/" target="_blank">Mỹ Linh</a></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="payment-content">
                        <ul>
                            <li>Chấp nhận thanh toán</li>
                            <li>
                                <img src="~/public/images/payment1.png" alt="Image">
                            </li>
                            <li>
                                <img src="~/public/images/payment2.png" alt="Image">
                            </li>
                            <li>
                                <img src="~/public/images/payment3.png" alt="Image">
                            </li>
                            <li>
                                <img src="~/public/images/payment4.png" alt="Image">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Ends -->  