<div class=" clearfix " style="background-color:#0404B4;">
    <div class="container ">
        <div class="upper-head-inner">
            <div class="login-btn pull-right">
                @if (ViewBag.sessionFullname != null)
                {
                    <a href="~/tai-khoan">@ViewBag.sessionFullname</a>
                    <a href="~/tai-khoan"><i class="fas fa-user"></i>Account</a>
                    <a href="~/Customer/logout">log out</a>
                }
                else
                {
                    <a href="~/dang-nhap"><i class="fa fa-unlock-alt"></i>Log in</a>
                    <a href="~/dang-ky"><i class="fa fa-user-plus"></i>Register</a>
                }
            </div>
        </div>
    </div>
</div>