@model IEnumerable<PlaceBooking.Models.Menu>
<div class="navigation bg-white">
    <div class="container ">
        <div class="navigation-content">
            <div class="header_menu">
                <!-- start Navbar (Header) -->
                <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
                    <div class="logo pull-left">
                        <a href="~/"><img alt="Image" src="~/Public/images/Yatra-01.png"></a>
                    </div>
                    <div id="navbar" class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav" id="responsive-menu">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="~/@item.Link" style="color: #0000FF">@item.Name </a>

                                </li>
                            }

                        </ul>
                    </div><!--/.nav-collapse -->
                    <div id="slicknav-mobile"></div>
                </nav>
            </div>
        </div>
    </div>
</div>