@model IEnumerable<PlaceBooking.Models.Order>
<section class="flight-destinations">
    <div class="container bg-white">
        <h2></h2>
        <div class="row">
            <div class="account-info-wrapper">
                <h2 style="text-align:center;">Hợp đồng</h2>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="flight-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Số hợp đồng</th>
                                <th>Tên Khách hàng</th>
                                <th>Email</th>
                                <th>ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Chi tiết</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td style="font-size:14px;">@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>
                                    @item.CreateDate
                                </td>
                                @if (item.Status == 1)
                                {
                                    <td class="text-success">Đã xác nhận</td>
                                }
                                else
                                {
                                    <td class="text-danger">Chưa xác nhận</td>

                                }
                                <td class="text-danger"><a href="~/customer/orderDetailCus/@item.Id">Chi tiết</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
