<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Rooms"><i class="fas fa-ticket-alt"></i> Quản lý trung tâm</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/ExtendsBooking"><i class="fas fa-bars"></i> Thực đơn và dịch vụ</a></li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/topic"><i class="fad fa-id-card"></i> Chủ đề bài viết</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/post"><i class="fad fa-newspaper"></i> Bài viết</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/user"> <i class="fas fa-user-friends"></i> Tài khoản/Khách hàng</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Comments"><i class="fas fa-comments"></i> Bình luận</a></li>
    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

